<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MediaCopy.Properties.Settings>
            <setting name="FromDate" serializeAs="String">
                <value>01/01/2011</value>
            </setting>
            <setting name="ToDate" serializeAs="String">
                <value />
            </setting>
            <setting name="PictureExtensions" serializeAs="String">
                <value>jpg bmp tif tiff</value>
            </setting>
            <setting name="VidioExtensions" serializeAs="String">
                <value>mp4 mov avi fli mod moi</value>
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value>G:\VideoFootage\2010</value>
            </setting>
            <setting name="NameMapping" serializeAs="String">
                <value>yyyyMMdd_HH-mm-ss</value>
            </setting>
        </MediaCopy.Properties.Settings>
    </userSettings>
</configuration>